.top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.topbutton{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    justify-content: space-around;
}